<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body>
  <%- include('partials/_header') %>
    <div class="card-body">
      <h1>Sign In To Your Account</h1>
      <form method="POST" action="/login">
        <label for="email">Email</label>
        <br>
        <input type="email" name="email" placeholder="Enter Email">
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" placeholder="Password">
        <br>
        <button type="submit" class="btn btn-success">Log In</button>
      </form>
    </div>
</body>

</html>