<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>

<body>
  <%- include('partials/_header') %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h3>Please fill in details below</h3>
        <form method="POST" action="/register">
          <label>New Link</label>
          <input type="email" name="email" placeholder="Email">
          <br>
          <input type="password" name="password" placeholder="Password">
          <br>
          <button type="submit" class="btn btn-success">Sign Up</button>
        </form>
      </div>
    </div>
    </div>
    <div class="card-footer text-muted"></div>
    </div>
</body>

</html>